".source.js, .source.jsx, .source.ts":
  "simulate('change')":
    "prefix": "simChange"
    "body": """
      ${1:input}.simulate("change", {
        ${2:target: { value: value },}
      });
      """
